* {
  margin: 30px;
  padding: 0px;
}

.A {
  position: relative;
  left: 30px;
  width: 60px;
  height: 91px;
  border-bottom: solid 14px black;
}

.A:before {
  -webkit-transform: skew(-19deg, 0);
  -ms-transform: skew(-19deg, 0);
  transform: skew(-19deg, 0);
  position: absolute;
  content: '';
  top: 12.5px;
  left: 0;
  width: 16px;
  height: 125px;
  background-color: black;
}

.A:after {
  -webkit-transform: skew(19deg, 0);
  -ms-transform: skew(19deg, 0);
  transform: skew(19deg, 0);
  position: absolute;
  content: '';
  top: 12.5px;
  left: 45px;
  width: 16px;
  height: 125px;
  background-color: black;
}

.B {
  position: relative;
  top: 60px;
  left: 10px;
  width: 60px;
  height: 125px;
  border-left: solid 16px black;
}

.B:after {
  position: absolute;
  content: '';
  width: 52px;
  height: 39px;
  border-width: 12px 15px 10px 0;
  border-color: black;
  border-style: solid;
  border-radius: 0 240% 180% 0 /0 180% 180% 0;
}

.B:before {
  position: absolute;
  content: '';
  bottom: 0;
  width: 58px;
  height: 43px;
  border-width: 10px 15px 15px 0;
  border-color: black;
  border-style: solid;
  border-radius: 0 180% 220% 0 /0 180% 180% 0;
}

.C {
  position: relative;
  left: 10px;
  width: 84px;
  height: 95px;
  top: 90px;
  border-width: 15px 12px 15px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
}

.C:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  content: '';
  top: 2px;
  left: 49px;
  background-color: #ffffff;
  width: 90px;
  height: 90px;
}

.D {
  position: relative;
  top: 120px;
  left: 10px;
  border-left: solid 15px black;
  height: 125px;
}

.D:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 60px;
  height: 95px;
  border-width: 15px 15px 15px 0;
  border-color: black;
  border-style: solid;
  border-radius: 0 300% 300% 0 /0 180% 180% 0;
}

.E {
  position: relative;
  top: 150px;
  left: 10px;
  width: 63px;
  height: 95px;
  border-width: 15px 0 15px 16px;
  border-color: black;
  border-style: solid;
}

.E:before {
  position: absolute;
  top: 40px;
  content: '';
  width: 55px;
  background-color: black;
  height: 15px;
}

.F {
  position: relative;
  top: 200px;
  left: 10px;
  width: 63px;
  height: 110px;
  border-width: 15px 0 0 16px;
  border-color: black;
  border-style: solid;
}

.F:before {
  position: absolute;
  top: 40px;
  content: '';
  width: 55px;
  background-color: black;
  height: 15px;
}

.G {
  position: relative;
  top: 230px;
  left: 10px;
  width: 84px;
  height: 95px;
  border-width: 15px 12px 15px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
}

.G:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  content: '';
  top: 2px;
  left: 48px;
  background-color: #ffffff;
  width: 90px;
  height: 90px;
}

.G:after {
  position: absolute;
  content: '';
  bottom: 0.5px;
  right: 7px;
  width: 28px;
  height: 36px;
  border-width: 13px 14px 0 0;
  border-color: black;
  border-style: solid;
}

.H {
  position: relative;
  top: 260px;
  left: 10px;
  width: 63px;
  height: 110px;
  border-width: 0px 15px 0px 15px;
  border-color: black;
  border-style: solid;
}

.H:before {
  position: absolute;
  top: 45px;
  content: '';
  width: 70px;
  background-color: black;
  height: 15px;
}

.I {
  position: relative;
  top: 300px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.J {
  position: relative;
  top: 300px;
  left: -5px;
  width: 75px;
  height: 66px;
  border-right: solid 16px black;
}

.J:before {
  position: absolute;
  content: '';
  bottom: -60px;
  right: -16px;
  width: 50px;
  height: 60px;
  border-width: 0 16px 15px 14px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 75% 75%;
}

.J:after {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  position: absolute;
  content: '';
  top: 40px;
  left: -20px;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
}

.K {
  position: relative;
  top: 350px;
  left: 10px;
  width: 80px;
  height: 125px;
  border-left: solid 16px black;
}

.K:before {
  -webkit-transform: skew(-43deg, 0);
  -ms-transform: skew(-43deg, 0);
  transform: skew(-43deg, 0);
  position: absolute;
  content: '';
  top: 0;
  left: 23px;
  width: 19px;
  height: 84px;
  background-color: black;
}

.K:after {
  -webkit-transform: skew(30deg, 0);
  -ms-transform: skew(30deg, 0);
  transform: skew(30deg, 0);
  position: absolute;
  content: '';
  bottom: 0;
  right: 25px;
  width: 18px;
  height: 75px;
  background-color: black;
}

.L {
  position: relative;
  top: 350px;
  left: 10px;
  width: 63px;
  height: 110px;
  border-width: 0px 0px 15px 15px;
  border-color: black;
  border-style: solid;
}

.M {
  position: relative;
  top: 350px;
  left: 10px;
  width: 80px;
  height: 125px;
  border-width: 0 15px 0 15px;
  border-color: black;
  border-style: solid;
}

.M:before {
  -webkit-transform: skew(20deg, 0);
  -ms-transform: skew(20deg, 0);
  transform: skew(20deg, 0);
  position: absolute;
  left: 8px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.M:after {
  -webkit-transform: skew(-20deg, 0);
  -ms-transform: skew(-20deg, 0);
  transform: skew(-20deg, 0);
  position: absolute;
  left: 55px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.N {
  position: relative;
  top: 350px;
  left: 10px;
  width: 80px;
  height: 125px;
  border-width: 0 15px 0 15px;
  border-color: black;
  border-style: solid;
}

.N:before {
  -webkit-transform: skew(35deg, 0);
  -ms-transform: skew(35deg, 0);
  transform: skew(35deg, 0);
  position: absolute;
  left: 35px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.O {
  position: relative;
  left: 10px;
  width: 84px;
  height: 95px;
  top: 350px;
  border-width: 15px 12px 15px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 55%;
}

.P {
  position: relative;
  top: 350px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.P:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 45px;
  border-width: 15px 15px 15px 0;
  border-color: black;
  border-style: solid;
  border-radius: 0 100% 100% 0 /0 180% 180% 0;
}

.Q {
  position: relative;
  top: 350px;
  left: 10px;
  width: 70px;
  height: 97px;
  border-width: 14px 16px 14px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 55% /52%;
}

.Q:before {
  -webkit-transform: rotate(-84deg);
  -ms-transform: rotate(-84deg);
  transform: rotate(-84deg);
  position: absolute;
  content: '';
  top: 82px;
  left: 49px;
  width: 16px;
  height: 48px;
  border-width: 16px 0 13px 13px;
  border-color: black;
  border-style: solid;
  border-radius: 200% 0 0 200% /100% 0 0 100%;
}

.Q:after {
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
  position: absolute;
  content: '';
  bottom: -35px;
  right: -44px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
}

.R {
  position: relative;
  top: 380px;
  left: 10px;
  width: 60px;
  height: 125px;
  border-left: solid 16px black;
}

.R:before {
  position: absolute;
  content: '';
  width: 52px;
  height: 44px;
  border-width: 13px 15px 13px 0;
  border-color: black;
  border-style: solid;
  border-radius: 0 220% 220% 0 /0 180% 180% 0;
}

.R:after {
  -webkit-transform: skew(32deg, 0);
  -ms-transform: skew(32deg, 0);
  transform: skew(32deg, 0);
  position: absolute;
  content: '';
  bottom: 0;
  left: 38px;
  width: 18px;
  height: 58px;
  background-color: black;
}

.S {
  -webkit-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  transform: rotate(14deg);
  position: relative;
  width: 105px;
  height: 150px;
  top: 380px;
  left: 10px;
}

.S:before {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
  position: absolute;
  content: '';
  width: 44px;
  height: 40px;
  border-width: 14px 0 15px 15.5px;
  border-color: black;
  border-style: solid;
  border-radius: 220% 0 0 150% /150% 0 0 100%;
}

.S:after {
  -webkit-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  transform: rotate(198deg);
  position: absolute;
  content: '';
  top: 65px;
  left: 21px;
  width: 52px;
  height: 44px;
  border-width: 14px 0 15px 15px;
  border-color: black;
  border-style: solid;
  border-radius: 240% 0 0 110% /140% 0 0 100%;
}

.T {
  position: relative;
  top: 380px;
  left: 10px;
  width: 60px;
  height: 125px;
  border-left: solid 16px black;
}

.T:before {
  content: '';
  right: 15px;
  bottom: 124px;
  position: absolute;
  background-color: black;
  height: 20px;
  width: 100px;
}

.U {
  position: relative;
  top: 380px;
  left: 10px;
  width: 60px;
  height: 80px;
  border-width: 0 16px 0 16px;
  border-color: black;
  border-style: solid;
}

.U:before {
  position: absolute;
  content: '';
  top: 65px;
  left: -16px;
  width: 60px;
  height: 45px;
  border-width: 0 16px 15px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 200% 200% /0 0 300% 300%;
}

.V {
  position: relative;
  top: 420px;
}

.V:before {
  -webkit-transform: skew(20deg, 0);
  -ms-transform: skew(20deg, 0);
  transform: skew(20deg, 0);
  position: absolute;
  left: 8px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.V:after {
  -webkit-transform: skew(-20deg, 0);
  -ms-transform: skew(-20deg, 0);
  transform: skew(-20deg, 0);
  position: absolute;
  left: 55px;
  content: '';
  height: 125px;
  width: 17px;
  background-color: black;
}

.W {
  position: relative;
  top: 600px;
  width: 100px;
}

.W:before {
  -webkit-transform: skew(11deg, 0);
  -ms-transform: skew(11deg, 0);
  transform: skew(11deg, 0);
  position: absolute;
  content: '';
  width: 42px;
  height: 125px;
  border-width: 0 13px 0 15px;
  border-color: black;
  border-style: solid;
}

.W:after {
  -webkit-transform: skew(-11deg, 0);
  -ms-transform: skew(-11deg, 0);
  transform: skew(-11deg, 0);
  position: absolute;
  content: '';
  right: 0;
  width: 42px;
  height: 125px;
  border-width: 0 15px 0 13px;
  border-color: black;
  border-style: solid;
}

.X {
  position: relative;
  top: 780px;
  left: 50px;
  width: 16px;
  height: 125px;
}

.X:before {
  -webkit-transform: skew(32deg, 0);
  -ms-transform: skew(32deg, 0);
  transform: skew(32deg, 0);
  position: absolute;
  content: '';
  width: 16px;
  height: 125px;
  background-color: black;
}

.X:after {
  -webkit-transform: skew(-32deg, 0);
  -ms-transform: skew(-32deg, 0);
  transform: skew(-32deg, 0);
  position: absolute;
  content: '';
  width: 16px;
  height: 125px;
  background-color: black;
}

.Y {
  position: relative;
  top: 860px;
  left: 52px;
  width: 16px;
  height: 50px;
  background-color: black;
}

.Y:before {
  -webkit-transform: skew(28deg, 0);
  -ms-transform: skew(28deg, 0);
  transform: skew(28deg, 0);
  position: absolute;
  content: '';
  top: -80px;
  left: -21px;
  width: 16px;
  height: 80px;
  background-color: black;
}

.Y:after {
  -webkit-transform: skew(-28deg, 0);
  -ms-transform: skew(-28deg, 0);
  transform: skew(-28deg, 0);
  position: absolute;
  content: '';
  top: -80px;
  right: -21px;
  width: 16px;
  height: 80px;
  background-color: black;
}

.Z {
  position: relative;
  top: 880px;
  left: 10px;
  width: 90px;
  height: 95px;
  border-width: 15px 0px 15px 0px;
  border-color: black;
  border-style: solid;
}

.Z:before {
  -webkit-transform: skew(-37deg, 0);
  -ms-transform: skew(-37deg, 0);
  transform: skew(-37deg, 0);
  position: absolute;
  content: '';
  top: 0;
  left: 36px;
  width: 18px;
  height: 95px;
  background-color: black;
}

.Ae {
  position: relative;
  top: 880px;
  left: 25px;
  width: 60px;
  height: 91px;
  border-bottom: solid 14px black;
}

.Ae:before {
  -webkit-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
  position: absolute;
  content: '';
  top: 12.5px;
  left: 0;
  width: 17px;
  height: 125px;
  background-color: black;
}

.Ae:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 45px;
  border-left: solid 15px black;
  height: 125px;
}

.Aee {
  right: -98px;
  bottom: 29px;
  position: absolute;
  height: 20px;
  width: 90px;
  background-color: black;
  content: '';
}

.Aee:before {
  top: 50px;
  left: 20px;
  bottom: 40px;
  position: absolute;
  height: 20px;
  width: 70px;
  background-color: black;
  content: '';
}

.Aee:after {
  top: 105px;
  left: 20px;
  bottom: 40px;
  position: absolute;
  height: 20px;
  width: 70px;
  background-color: black;
  content: '';
}

.Oe {
  position: relative;
  left: 10px;
  width: 84px;
  height: 95px;
  top: 920px;
  border-width: 15px 12px 15px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 55%;
}

.Oe:before {
  position: absolute;
  -webkit-transform: skew(-40deg, 0);
  -ms-transform: skew(-40deg, 0);
  transform: skew(-40deg, 0);
  content: '';
  bottom: -10px;
  height: 115px;
  width: 17px;
  left: 30px;
  background-color: black;
}

.Aa {
  top: 950px;
  position: relative;
  left: 30px;
  width: 60px;
  height: 91px;
  border-bottom: solid 14px black;
}

.Aa:before {
  -webkit-transform: skew(-19deg, 0);
  -ms-transform: skew(-19deg, 0);
  transform: skew(-19deg, 0);
  position: absolute;
  content: '';
  top: 12.5px;
  left: 0;
  width: 16px;
  height: 125px;
  background-color: black;
}

.Aa:after {
  -webkit-transform: skew(19deg, 0);
  -ms-transform: skew(19deg, 0);
  transform: skew(19deg, 0);
  position: absolute;
  content: '';
  top: 12.5px;
  left: 45px;
  width: 16px;
  height: 125px;
  background-color: black;
}

.Aab {
  position: absolute;
  right: -20px;
  width: 15px;
  height: 15px;
  bottom: 55px;
  border-width: 15px 12px 15px 16px;
  border-color: black;
  border-style: solid;
  border-radius: 55%;
}
